<div class="media-body">
  <h4 class="media-heading">
    <%= comment.owner_type %>
    <%= comment.owner_id%>
  </h4>
  <i>
    <%= comment.created_at.strftime('%b %d, %Y at %H:%M') %>
  </i>
  <p>
    <%= simple_format comment.body %>
  </p>
  <%= link_to "Reply", new_comment_path(:parent_id => comment) %>

  <%= nested_comments comment.children %>
</div>
