<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Commentable ID:</strong>
  <%= @comment.commentable_id %>
</p>

<p>
  <strong>Commentable type:</strong>
  <%= @comment.commentable_type %>
</p>

<p>
  <strong>Owner ID:</strong>
  <%= @comment.owner_id %>
</p>

<p>
  <strong>Owner Type:</strong>
  <%= @comment.owner_type %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
