<p id="notice"><%= notice %></p>notice



<!-- Page Content -->
<div class="container">

  <div class="row">

      <!-- Blog Post Content Column -->
      <div class="col-lg-8">

      <!-- Blog Post -->

      <!-- Title -->
      <h1><%=@post.title%></h1>

      <!-- Post -->
      <p> <%= @post.body %> </p>

      <!-- Comments form -->

      <%= form_for([@post, @comment]) do |f| %>
        <% if @comment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

            <ul>
            <% @comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>

        <% end %>
 
        <div class="well">
          <h4>Leave a Comment</h4>
          <form role ="form">
            <div class="form-group">
              <textarea class="form-control" rows="3"></textarea>
              <h4> <%= f.label :Leave_a_Comment %><br> </h4>
                <%= f.text_area :body %>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
              <%= f.submit %>
          </form>
      </div>
    <% end %>
  </div>
</div>




<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>


<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<% if admin_signed_in? %>
  <p>
    <%= "Signed in as #{current_admin}" %>
  </p>
<%elsif commenter_signed_in? %>
  <ul>
    <li><%= "Signed in as #{current_commenter.name} with" %></li>
    <li><%=link_to("Sign Out", destroy_commenter_session_path, :method => :delete)%></li> 
  </ul>
<% else %>
  <%= "Sign In to comment" %>
  <ul>
    <li>
    <A href= "/commenters/auth/twitter">Sign In with Twitter </A>
    </li>
    <li>
    <A href= "/commenters/auth/github">Sign In with Github</A>
  </li>
<%end%>

<%=  render 'comments/form' %>

<% @comments.each do |c| %>
  <ul>
    <li><%= c.owner %></li>
    <li><%= c.body %></li>
    <% if commenter_signed_in? && current_commenter.id == c.owner_id ||
      admin_signed_in? && current_admin.id == c.owner_id%>
     <li> <%= link_to 'Edit Comment', edit_comment_path(c) %> </li> 
   <% end %>

  </ul>
<% end %>

<%=  link_to 'Back', posts_path %>
