<p id="notice"><%= notice %></p>notice

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>


<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<% if admin_signed_in? %>
  <p>
    <%= "Signed in as #{current_admin}" %>
  </p>
<%elsif commenter_signed_in? %>
  <ul>
    <li><%= "Signed in as #{current_commenter.name} with" %></li>
    <li><%=link_to("Sign Out", destroy_commenter_session_path, :method => :delete)%></li> 
  </ul>
<% else %>
  <%= "Sign In to comment" %>
  <ul>
    <li>
    <A href= "/commenters/auth/twitter">Sign In with Twitter </A>
    </li>
    <li>
    <A href= "/commenters/auth/github">Sign In with Github</A>
  </li>
<%end%>

<%=  render 'comments/form' %>

<% @comments.each do |c| %>
  <ul>
    <li><%= c.owner %></li>
    <li><%= c.body %></li>
    <% if commenter_signed_in? && current_commenter.id == c.owner_id ||
      admin_signed_in? && current_admin.id == c.owner_id%>
     <li> <%= link_to 'Edit Comment', edit_comment_path(c) %> </li> 
   <% end %>

  </ul>
<% end %>

<%=  link_to 'Back', posts_path %>
