<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="post-show">

        <h3 class='show-title'><%=@post.title%></h3>
        <%=markdown(@post.body)%>
        <% if admin_signed_in? %>
          <%= link_to 'Delete Post', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to 'Edit Post', edit_post_path(@post) %>
       
        <%end%>

      </div>
    </div>
    
    <div class="col-sm-offset-2 col-sm-8">
      <div class=top-sep></div>
      <div class=top-sep></div>
      <div class='leave-comment'>
        <%=render 'layouts/leave_comment' %>
        <div class="top-bars">
          <div class='top-sep'></div>
          <div class='top-sep'></div>
        </div>
        <%=render 'layouts/comments' %>
      </div>
    </div>

  </div>
</div>
